<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Belly Button Biodiversity</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='static.css')}}">
  <link rel="stylesheet" type="text/css" href="../static/static.css')}}">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Belly Buton Biodiversity</h1>
    </div>

    <!-- sample names-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2>Some Description</h2>
        </div>
      </div>

      <!-- dropdownmenu -->

      <div class="row">
        <div class="col-md-12">
          <h3>Dropdown Menu</h3>
            <select id="selDataset" onchange="optionChanged(this.value)">
              <option>Select Sample</option>
            </select>

              <ul id="meta"></ul>

              <div id="pie"></div>

              <div id="wfreq"></div>

              <div id="pie"></div>
        </div>
      </div>

    <script type="text/javascript" src="../static/dropdown.js">
    </script>
